/* phone css */
@media (max-width: 575.98px) {
    .jumbotron .container {
        padding: 150px 0px 0px 50px;
    }

    .display-4 {
        font-size: 35px;
        margin-bottom: 15px;
    }
    .lead {
        font-size: 20px;
        width: 80%;
    }

    .jumbotron .btn {
        margin-left: 15%;
    }

    .section-title {
        font-size: 25px;
    }

    /* profile */

    .about p {
        font-size: 17px;
        line-height: 30px;
    }

    .bio p {
        margin-left: 100px;
        font-size: 20px;
        letter-spacing: 2px;
    }

    /* end of profile */
    /* projects */
    .card {
        width: 80%;
        margin-left: 2rem;
        margin-bottom: 1.5rem;
    }

    /* end of projects */
    /* contact */
    .form {
        padding-left: 50px;
    }

    .contact .form-floating {
        width: 80%;
    }

    /* end of contact */
    /* footer */
    footer {
        padding-left: 35px;
    }

    .copyright {
        font-size: 13px;
    }

    /* end of footer */
}

/* responsive css for tablet and small device landscape */
@media (max-width: 991.98px) {
    .bio {
        margin-bottom: 40px;
    }

    .card {
        margin-bottom: 1.5rem;
    }
}